Repository Source-It-Fresh/SiF-Public-Code-Repo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SiF-Petri, @nonick777, @SiF-Guy, @sif-admin-team, @sif-maintain-team

.github/CODEOWNERS:

# All files
* @SiF-Petri

# Specific directories
/src/ @SiF-Petri @nonick777
/docs/ @SiF-Guy @SiF-Petri

# Specific files or FileTypes
*.md @SiF-Guy @sif-admin-team
*.js @sif-maintain-team

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @SiF-Petri

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @SiF-Petri

Update Open Collective username in FUNDING.yml
  .github/FUNDING.yml
Owners: @SiF-Petri

Update README.md
  README.md
Owners: @SiF-Guy, @sif-admin-team

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @SiF-Guy, @sif-admin-team

Update link for joining the team
  CONTRIBUTING.md
Owners: @SiF-Guy, @sif-admin-team

Update README.md
  README.md
Owners: @SiF-Guy, @sif-admin-team

Update README.md
  README.md
Owners: @SiF-Guy, @sif-admin-team

folder struct add
  docs/test.txt
  scr/.dockerignore
  scr/.editorconfig
  scr/Directory.Build.props
  scr/Directory.Packages.props
  scr/DockerDevCertificates.txt
  scr/DockerHelp.txt
  scr/SiF_Main_Solution.sln
  scr/SiF_Main_Solution.sln.licenseheader
  scr/docker-compose.dcproj
  scr/docker-compose.override.yml
  scr/docker-compose.yml
  scr/launchSettings.json
Owners: @SiF-Guy, @SiF-Petri
